@import "@tomtom-international/web-sdk-maps";
.debug {
  color: blue;
}
body {
  font-family: "Poppins", sans-serif;
	background: linear-gradient(-45deg, #c68c7a, #be7d96, #7aa5b4, #86b6aa);
	background-size: 500% 500%;
	animation: gradient 25s ease infinite;
	height: 100vh;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}
