@import "@tomtom-international/web-sdk-maps";
.debug {
  background-color: rgba(255, 0, 0, 0.3);
  border: 1px dashed red;
}
body {
  font-family: "Poppins", sans-serif;
  background: linear-gradient(-45deg, #c68c7a, #be7d96, #7aa5b4, #86b6aa);
  background-size: 500% 500%;
  animation: gradient 25s ease infinite;
  height: 100vh;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.display-back {
  background-color: whitesmoke;
  border-radius: 0.5rem;
  padding: 1rem;
}

/* WebKit (Chrome, Safari) */
::-webkit-scrollbar {
  width: 4px; /* Larghezza della barra di scorrimento orizzontale e verticale */
}

::-webkit-scrollbar-thumb {
  background-color: #ff7977; /* Colore della maniglia della barra di scorrimento */
  border-radius: 3px; /* Raggio degli angoli della maniglia della barra di scorrimento */
}

/* Firefox */
::-moz-scrollbar {
  width: 4px;
}

::-moz-scrollbar-thumb {
  background-color: #ff7977;
  border-radius: 3px;
}

/* Edge (basato su Windows) */
::-ms-scrollbar {
  width: 4px;
}

::-ms-scrollbar-thumb {
  background-color: #ff7977;
  border-radius: 3px;
}
.scroll-display {
  overflow: auto;
  height: 50vh;
}
